body {
    font-family: Arial, sans-serif;
    background-image: url("fifthzzz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-right: 0;
    padding-top: 70px;
    overflow: hidden;
}


.about-me {
    background-color: rgba(18, 16, 16, 0.9);
    border-radius: 5px;
    padding: 35px;
    width: 310px;
    box-shadow: 2px 2px 5px #000000;
    border: 2px solid #000000;
    text-align: center;
    margin-top: -70px;
    margin-right: 50px;
    height: 500px;
    color: white;
    line-height: 15px;
    letter-spacing: 1px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.about-me p span {
    color: #301494;
}


.about-me h2 {
    color: white;
    margin-bottom: 20px;
}


.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #ff0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.8); /* Fixing the Drgb to rgba */
    overflow: hidden;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #cf2507;
}

